@import "fonts";
@import "palette";
@import "mq";
@import "general";
@import "share";

.interactive-container {
    padding: 0;
    margin: 0;
}


#uk-breakfasts-navigator {
    width: 100%;
    background-color: #f8e8ef;
    border-top: 1px solid #b82266;

    #uk-breakfasts-navigator-inner {
        padding: 0;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Guardian Egyptian Web';
    }


    #nav-list {
        // line-height: 12px;
        margin: 0;
        padding: 6px 5px 12px 5px;
        list-style-position: inside;

        li {
            font-size: 16px;
            line-height: 22px;
            list-style: none;
            font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            display: inline-block;
            margin-right: 6px;
            cursor: pointer;
            color: #b82266;

            @media screen and (min-width: 740px) {
                 font-size: 18px;
                line-height: 24px;
            }

            &.jumpto {
                 opacity: 1;
                 cursor: auto;
                 color: #333;
                 &::after {
                    margin-left: 6px;
               
                }
            }
            

            span {
                text-decoration: none;
                &:hover {
                text-decoration: underline;
                }
            }

             &::before {
                display: none!important;
            }
            

            &::after {
                content: '/';
                // margin-left: 6px;
                opacity: 1;
                color: #333;
            }
        }
        
        h3 {
            display: inline-block;
            cursor: pointer;
            background: #b82266;
            color: #fff;
            padding: 2px 12px 0px 12px;
            border-radius: 16px;
            font-size: 12px;
            font-family: 'Guardian Sans Web';
            font-weight: bold;
            margin: 0 12px 8px 0;

            &:hover {

            }
        }
    }
    
}

 #back-to-top-button {
        width: 44px;
        height: 44px;
        background-color: #333;
        cursor: pointer;
        position : fixed;
        left: 50%;
        margin-left: -22px;
        bottom: 20px;
        border-radius: 22px;
        text-align: center;
        line-height: 3;
        z-index: 999999999999999999;
        opacity: 1;
        -webkit-transition: opacity 0.5s ease-in;
        -moz-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;

        span {
            display: none;
        }

        svg {
            fill: #fff;
        }

        &.fade {
            opacity: 0;
            pointer-events: none;
        }

        @media screen and (min-width: 740px) {
               color: #fff;
               width: 130px;
             margin-left: -65px;
               font-family: 'Guardian Sans Web';
               font-size: 14px;
               bottom: 40px;
                text-align: left;

                 svg {
                // position: absolute;
                // right: 0;
                // top: 0;
                padding-top: 10px;
                padding-right: 10px;
                float: right;
                }
               
                span {
                padding-left: 20px;
                display: inline;
                }

        }

    }

    blockquote {
        margin-left: 0!important;
        h2, h2 strong {
        padding-top: 20px!important;
        font-style: normal!important;
        font-weight: 200!important;
        font-size: 36px!important;
        font-family: "Guardian Egyptian Web",Georgia,serif!important;
        line-height: 42px!important;

        @media screen and (min-width: 740px) {
                 font-size: 70px!important;
                line-height: 72px!important;
                 padding-top: 40px!important;
        }
        }
    }
