@import "fonts";
@import "palette";
@import "mq";
@import "general";
@import "share";

.interactive-container {
    padding: 0;
    margin: 0;
}


#uk-breakfasts-navigator {
    width: 100%;
    background-color: #fff;


    #nav-list {
        h3 {
            display: inline-block;
            cursor: pointer;
            background: #767676;
            color: #fff;
            padding: 10px 12px;
            border-radius: 16px;
            font-size: 16px;
            font-family: 'Guardian Sans Web';
            margin: 0 12px 12px 0;

            &:hover {

            }
        }
    }
    
}

 #back-to-top-button {
        width: 44px;
        height: 44px;
        background-color: #333;
        cursor: pointer;
        position : fixed;
        right: 5px;
        bottom: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 3;

        span {
            display: none;
        }

        svg {
            fill: #fff;
        }
    }
